{{/* 自定义头部代码 - 统计和广告 */}}

{{/* Google Analytics 4 - blog.caowo.de */}}
{{- if and .Site.Params.googleAnalytics.enabled .Site.Params.googleAnalytics.id -}}
{{- if ne .Site.Params.googleAnalytics.id "G-XXXXXXXXXX" -}}
<script async src="https://www.googletagmanager.com/gtag/js?id={{ .Site.Params.googleAnalytics.id }}"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', '{{ .Site.Params.googleAnalytics.id }}');
</script>
{{- end -}}
{{- end -}}

{{/* Google Analytics 4 - blog.wizawn.com */}}
{{- if and .Site.Params.googleAnalyticsWizawn.enabled .Site.Params.googleAnalyticsWizawn.id -}}
<script async src="https://www.googletagmanager.com/gtag/js?id={{ .Site.Params.googleAnalyticsWizawn.id }}"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', '{{ .Site.Params.googleAnalyticsWizawn.id }}');
</script>
{{- end -}}

{{/* 百度统计 - blog.caowo.de */}}
{{- if and .Site.Params.baiduAnalytics.enabled .Site.Params.baiduAnalytics.id -}}
{{- if ne .Site.Params.baiduAnalytics.id "xxxxxxxxxxxxxxxx" -}}
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?{{ .Site.Params.baiduAnalytics.id }}";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>
{{- end -}}
{{- end -}}

{{/* 百度统计 - blog.wizawn.com */}}
{{- if and .Site.Params.baiduAnalyticsWizawn.enabled .Site.Params.baiduAnalyticsWizawn.id -}}
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?{{ .Site.Params.baiduAnalyticsWizawn.id }}";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>
{{- end -}}

{{/* Google AdSense */}}
{{- if and .Site.Params.adsense.enabled .Site.Params.adsense.client -}}
{{- if ne .Site.Params.adsense.client "ca-pub-xxxxxxxxxxxxxxxx" -}}
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client={{ .Site.Params.adsense.client }}"
     crossorigin="anonymous"></script>
{{- end -}}
{{- end -}}
