{{ define "main" }}
    <header class="page-header">
        {{ partial "breadcrumbs.html" . }}
        <h1>
            {{ .Title }}
            {{ if .Draft }}
            <span class="entry-badge">Draft</span>
            {{ end }}
        </h1>
        {{ if .Description }}
        <div class="post-description">
            {{ .Description }}
        </div>
        {{ end }}
        {{ if not (.Param "hideMeta") }}
        <div class="post-meta">
            {{ partial "post_meta.html" . }}
        </div>
        {{ end }}
    </header>
    
    {{ $isLtr := .Site.Params.isLtr | default true }}
    {{ if not (.Param "disableShare") }}
    {{ partial "share_icons.html" . }}
    {{ end }}
    
    <div class="content">
        {{ .Content }}
    </div>
    
    <!-- 赞赏功能 - 仅在文章页面显示 -->
    {{ if .IsPage }}
    {{ partial "donate.html" . }}
    {{ end }}
    
    {{ if (.Param "showToc") }}
    <aside class="toc">
        <h2>Table of Contents</h2>
        {{ .TableOfContents }}
    </aside>
    {{ end }}
    
    <footer class="page-footer">
        {{ if not (.Param "disableLastModified") }}
        {{ if .Lastmod }}
        <p class="last-modified">
            Last Modified: {{ .Lastmod.Format "2006-01-02" }}
        </p>
        {{ end }}
        {{ end }}
        
        {{ partial "pagination.html" . }}
    </footer>
    
    {{ if not (.Param "disableComments") }}
    {{ partial "comments.html" . }}
    {{ end }}
    
    {{ if .Site.Params.relatedPosts }}
    {{ partial "related_posts.html" . }}
    {{ end }}
{{ end }}
